<h1> Create Student </h1> 

<% if @student.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@student.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@student) do |p| %> 

<%= p.label :name %><br>
<%= p.text_field :name %><br>

<%= p.label :email %><br>
<%= p.email_field :email %><br>

<%= p.label :grade %><br>
<%= p.text_field :grade %><br>

<%= p.label :password %><br>
<%= p.text_field :password_digest %><br>

<%= p.submit :submit %>
<%end%>