<h1> Course</h1>


 <h3>Name: <%= @course.name %><br>

Subject: <%= @course.subject %><br>


 Course Time: <%= @course.course_time %><br>
</h3>



<%= link_to "Back", courses_path %>
<%= link_to "Edit", edit_course_path %>

<%= button_to "Delete", course_path(@course), method: :delete %>